@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ex-flex-wrap {
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.ex-vertical {
  top: 50%;
  transform: translateY(-50%);
}

.ex-transition {
  transition: all 0.6s ease;
}

.ex-transition-medium {
  transition: all 1.2s ease;
}

.ex-transition-large {
  transition: all 1.8s ease;
}

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/
@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  /*------------------------------------- Site Wide Ends ------------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*-------------------------------- Content Wrapper Starts ---------------------------------*/
  /*--------------------------------- Content Wrapper Ends ----------------------------------*/
  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/
  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/
  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/
  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}/*# sourceMappingURL=responsive.css.map */